body {
	font-family: 'Space Grotesk', sans-serif;
	/* https://doodad.dev/pattern-generator/ */
	background-image: url(./images/pattern-tile.png);
}

#navbar, footer {
	background-color: #202C39;
}

.item-nav:hover {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-underline-offset: 3px;
}

.logo {
	font-family: 'Carter One', cursive;
}

.pads {
	margin-top: 4.125em;
}

.job {
	font-size: 0.875rem;
	color: #A4ABB3;
}

.tools-logo {
	width: 80px;
}

.tech {
	font-size: 0.625rem;
	padding: 2px 8px;
}

.box {
	width: 90%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 60%;

	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}

.card {
	width: 18rem;
}

form {
	max-width: 20em;
}

.cta-btn:hover {
	color: #F8F9FA;
}

.cta-btn:hover, .button:hover {
	border: 1px solid #FFC107;
	background-color: transparent;
}

footer a:hover {
	text-underline-offset: 3px;
}

@media only screen and (min-width: 768px) {

	.job {
		font-size: 1rem;
	}

	.about {
		max-width: 50ch;
	}

	.box {
		width: 60%;
		top: 70%;
	}


	.mail {
		width: 300px;
	}

}

@media only screen and (min-width: 992px) {

	.box {
		width: 50%;
	}

	.mail {
		width: 400px;
	}
}